<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Ваш маршрут</title>
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <link rel="stylesheet" href="/static/css/map.css" />
</head>
<body>
  <!-- Кнопка «Поделиться маршрутом» -->
  <div id="share-container">
    <button id="share-btn" onclick="shareRoute()">Поделиться маршрутом</button>
  </div>

  <!-- Контейнер для карты -->
  <div id="map"></div>

  <!-- Подключаем Leaflet.js -->
  <script src="/static/js/leaflet.js"></script>
  <script type="text/javascript" src="/static/js/map.js"></script>
</body>
</html>
